@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* App color */
    --body-bg-color: #fff;
    --body-bg-color-rgb: 255, 255, 255;

    --admin-bg-color: #f0f0f5;
    --admin-nav-color: lavender;
    --admin-nav-color-elevate: rgba(55, 63, 65, 0.1);

    --nav-bg-color: #fff;
    --nav-border-color: rgb(0 0 0 / 8%);

    --text-primary-color: #373f41;
    --text-secondary-color: rgba(55, 63, 65, 0.75);
    --text-tertiary-color: rgba(55, 63, 65, 0.5);

    /* Element color */
    --element-shadow-color: rgba(0, 0, 0, 0.15);
    --element-bg-color: #fff;
    --element-bg-color-elevate-1: #ededed;
    --element-bg-color-elevate-2: #dbdbdb;

    --post-bg-color: #fff;
    --post-border-color: rgb(0 0 0 / 8%);
    --post-bg-hover-color: #f8f9fa;

    --comment-bg-body-color: #f0f2f5;

    /* Border */
    --border-width: 0.25rem;
    --border-color: rgba(0, 0, 0, 0.15);
    --border-color-elevate-1: #4b5156;
    --border-color-elevate-2: #666e75;
    --inline-color: rgba(0, 0, 0, 0.6);

    /* Theme color */
    --teal-darker-color: #0d9488;
    --teal-general-color: #14b8a6;
    --teal-lighter-color: #2dd4bf;

    /* Support color */
    --amber-darker-color: #d97706;
    --amber-general-color: #f59e0b;
    --amber-lighter-color: #fbbf24;

    --red-darker-color: #e11d48;
    --red-general-color: #f43f5e;
    --red-lighter-color: #fb7185;

    --blue-darker-color: #0891b2;
    --blue-general-color: #06b6d4;
    --blue-lighter-color: #22d3ee;

    --white-color: #fff;
    --black-color: #000;

    /* Config vars */
    --z-index-nav: 69;
    --mobile-break-point: 1024px;

    --toastify-color-progress-light: #14b8a6;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
